<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>申请代办列表页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../../../css/mui.min.css">
	<link rel="stylesheet" href="../../../css/iconfont/iconfont.css">
	<link rel="stylesheet" href="../../../css/base.css">
	<link rel="stylesheet" href="../../../css/controller/conSignList_sub.css">  
	<script src="../../../js/common/standdardSize.js"></script>
</head>
<body>
	<div class="mui-content">
		<div id="preList" class="mui-slider-group">
			<ul class="table-view">
				<li class="table-view-cell">
					<div class="flex">
						<span class="fontColor font26">2219042400008</span>
						<time class="fontColor font26">2019/05/15 12:02</time>
					</div>
					<div class="flex">
						<span class="name">李梅</span>
						<div class="price">
							<p>贷款金额 <small> 6000 </small> 元</p>
							<p>508 1.8T 3级自动挡</p>
						</div>
						<i class="iconSymbol icon__go"></i>
					</div>
					<div class="flex">
						<span class="status font24 text-right">信贷审核中</span> 
					</div>
				</li>
				<li class="table-view-cell">
					<div class="flex">
						<span class="fontColor font26">2219042400008</span>
						<time class="fontColor font26">2019/05/15 12:02</time>
					</div>
					<div class="flex">
						<span class="name min-name">迪丽热巴巴巴</span>
						<div class="price">
							<p>贷款金额 <small> 6000 </small> 元</p>
							<p>508 1.8T 3级自动挡</p>
						</div>
						<i class="iconSymbol icon__go"></i>
					</div>
					<div class="flex">
						<p class="fontColor font24 more">
							<i class="iconSymbol icon__dorp"></i>  更多操作
						</p>
						<a class="btn fontColor font24" href="javascript:;">编辑</a>
						<span class="status fontColor font24">信贷审核中</span> 
					</div>
					<div>
						<a class="btn fontColor font24" href="javascript:;">合同修改</a>
						<a class="btn fontColor font24" href="javascript:;">贷款信息修改</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="../../../js/common/mui.min.js" ></script>
	<script type="text/javascript" src="../../../js/common/jquery-1.12.0.min.js" ></script>
	<script type="text/javascript" src="../../../js/core/sea.js"></script>
	<script src="../../../js/common/mui.pullToRefresh.js"></script>
	<script src="../../../js/common/mui.pullToRefresh.material.js"></script>
	<script src="../../../js/common/vconsole.min.js"></script>
	<script type="text/javascript">
		seajs.config({
			base: "../../../js/controller/"
		});
		seajs.use('PreHearing/PreList/preList_sub');
	</script>
</body>
</html>