<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>隐私政策</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
	<meta name="apple-mobile-web-app-caparble" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<script type="text/javascript" src="../../js/common/standdardSize.js"></script>
		<link rel="stylesheet" href="../../css/iconfont/iconfont.css"></link>
		<link rel="stylesheet" href="../../css/common.css"></link>
	<style>
		header{
			background:url(../../images/pre03.png) no-repeat center;
			background-size: 100%;
		}
		.div_content{
			font-size:.29rem;
			padding:.25rem .2rem .25rem .2rem;
			margin-top:1.48rem;
			background-color:#fff;
		}
		.div_content p{
			color:#333;
		}
		.policy-title{
			text-align:center;
			margin-top:10px;
			margin-bottom:10px;		
		}
	</style>
</head>
<body>
	<header>
		<span class="iconSymbol icon__back mui-action-back"></span> 
		<span class="title">东风PSA金融用户服务条款</span> 
	</header>
	<div class="div_content">
		<h4 class="policy-title" style="font-size:.29rem;">服务条款</h4>
		<!--<div style="font-weight:bold;text-align:right;font-size:.26rem;">版本20180926</div>-->
		<p style="font-weight:bold;font-size:.26rem;">一、服务条款的确认和接纳</p>
		<p style="font-size:.26rem;">
			<span style="color:#fff;">前言</span>本条款是由东风标致雪铁龙汽车金融公司（以下简称“金融公司”）与用户签订的隐私条款。金融公司依照以下服务条款向您提供相关服务。本APP的各项内容和服务的所有权归本公司拥有，请您使用本服务条款涉及的服务前，务必仔细、审慎阅读，尤其是免除或者限制责任条款。用户使用服务，或通过完成注册程序，表示用户接受并同意所有服务条款。
		</p>
		<!--<p style="font-weight:bold;font-size:.26rem;">
			<span style="color:#fff;">前言</span>我们希望您在使用我们的服务前仔细阅读并确认您已经充分理解本政策所写明的内容，并让您可以按照本隐私政策的内容做出您认为适当的选择。您使用或在我们更新本隐私政策后（我们会及时提示您更新的情况）继续使用我们的服务，即意味着您同意本隐私政策(含更新版本)的内容。
		</p>-->
		<p style="font-weight:bold;font-size:.26rem;">二、信息提供和隐私保护</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>2.1 您在访问、使用本APP或申请使用服务时，必须提供本人真实的个人信息，且您应该根据实际变动情况及时更新和完善个人信息，以便于您更好地接受金融公司提供的服务。同时，保护用户隐私也是金融公司的重要原则，金融公司会通过各种技术手段和强化内部管理等办法提供隐私保护服务功能，充分保护您的个人信息安全。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>2.2 本APP不负责审核您提供的个人信息的真实性、准确性或完整性，因信息不真实、不准确或不完整而引起的任何问题及其后果，由您自行承担，且您应保证本APP免受由此而产生的任何损害或责任。若金融公司发现您提供的个人信息是虚假、不准确或不完整的，金融公司有权自行决定终止向您提供服务。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>2.3 您理解，为申请获得服务，您应向金融公司提供您的个人信息。您基于需要金融公司提供更优质服务和产品的目的，授权金融公司会在定期或不定期以电子邮件、短信、电话等方式为您提供服务。为了服务的精准性，金融公司会在提供服务的同时询问您有关婚姻状况、真实年龄、是否持有居住证以及征信情况等问题；为向您提供服务之目的，金融公司须向有必要的第三方透露您的个人信息。您特此向金融公司授权，为向您提供服务之目的，金融公司有权使用您的个人信息、您申请服务时提供相关信息和（或）您在使用服务时储存在本APP的非公开内容（以下简称“个人资料”）。金融公司保证在除为向您提供服务之目的外，不对外公开或向其他非必要第三方提供您的个人资料，但下列情况除外：</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>2.3.1 事先获得您的明确授权；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>2.3.2 按照相关司法机构或政府主管部门的要求；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>2.3.3 为维护本APP合法权益之目的；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>2.3.4 为维护社会公共利益；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>2.3.5 为了配合政府或法律的合法要求、传票或指令等，为了保护本APP的系统和用户，或者为了确保服务和系统的完整与操作，金融公司可获取和披露其认为必要或恰当的任何信息，包括但不限于用户的个人信息、IP地址和流量信息、使用历史以及发布内容；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>2.3.6 法律法规或服务要求的其他合法情形。</p>
		<p style="font-weight:bold;font-size:.26rem;">三、使用准则</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1 您在使用服务过程中，必须遵循国家的相关法律法规，符合金融公司关于使用服务相关的合法合理要求，不通过本APP或服务发布、复制、上传、散播、分发、存储、创建或以其它方式公开含有以下内容的信息：</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.1 违反宪法所确定的基本原则的；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.2 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.3 损害国家荣誉和利益的；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.4 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.5 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.6 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.7 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的、欺诈性的或其它令人反感的数据、信息、文本、音乐、声音、照片、图形、代码或其它材料；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.8 侮辱或者诽谤他人，侵害他人合法权益的；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.9 可能侵犯他人的专利、商标、商业秘密、版权或其它知识产权或专有权利的内容；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.10 假冒任何人或实体或以其它方式歪曲您与任何人或实体之关联性的内容；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.11 未经金融公司同意而擅自提供的促销信息、政治活动、广告或意见征集；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.12 任何第三方的私人信息，包括但不限于地址、电话号码、电子邮件地址、身份证号以及信用卡卡号；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.13 病毒、不可靠数据或其他有害的、破坏性的或危害性的文件； </p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.14 与内容所在的互动区域的话题不相关的内容；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.15 依金融公司的自行判断，足以令人反感的内容，或者限制或妨碍他人使用或享受互动区域或车贷服务的内容，或者可能使金融公司或金融公司关联方或其他用户遭致任何类型损害或责任的内容；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.1.16 其他法律法规或规章制度禁止的或不符合金融公司要求的内容。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.2 用户不得利用服务从事下列危害计算机信息网络安全的活动：</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.2.1 未经允许，进入计算机信息网络或者使用计算机信息网络资源；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.2.2 未经允许，对计算机信息网络功能进行删除、修改或者增加；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.2.3 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.2.4 故意制作、传播计算机病毒等破坏性程序；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.2.5 其他危害计算机信息网络安全的行为。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.3 金融公司保留在任何时候为任何理由而不经通知地过滤、移除、筛查或编辑本本APP上发布或存储的任何内容的权利，您须自行负责备份和替换在本APP发布或存储的任何内容，本APP不对用户发布信息的删除或储存失败负责。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.4 一旦成功注册成为网站用户，您将有一个密码和用户名。用户将对用户名和密码的安全负全部责任。您须对自己在使用服务过程中的行为承担法律责任。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.5 如您的操作影响系统总体稳定性或完整性，金融公司将暂停或终止您的操作，直到相关问题得到解决。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.6 为了改善用户体验，完善服务内容，金融公司将不时开发新的服务，对为您提供本APP软件更新（更新可能采取包括但不限于软件替换、修改、功能强化和版本强化等形式）。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.7 为了服务的安全性和功能一致性，金融公司可以不经向您特别通知而对本APP进行更新，或者对软件的部分功能进行限制或改变。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>3.8 本APP新版本更新后，旧版本可能无法使用。金融公司不保证旧版本APP继续可用及相应的客户服务，请您随时核对并下载最新版本。</p>
		<p style="font-weight:bold;font-size:.26rem;">四、免责声明</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>4.1 对您、其他用户或任何第三方发布、存储或上传的任何内容或由该等内容导致的任何损失或损害，金融公司不承担责任。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>4.2 对任何第三方通过本APP或服务可能对您造成的任何错误、中伤、诽谤、诬蔑、不作为、谬误、淫秽、色情或亵渎，金融公司不承担责任。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>4.3 对黑客行为、计算机病毒、或因您保管疏忽致使账号、密码被他人非法使用、盗用、篡改的或丢失，或由于与本APP链接的其它APP所造成您个人资料的泄露，金融公司不承担责任。如您发现任何非法使用用户帐号或安全漏洞的情况，请立即与金融公司联系。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>4.4 因任何非本APP原因造成的网络服务中断或其他缺陷，金融公司不承担任何责任。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>4.5 金融公司不保证服务一定能满足您的要求；不保证服务不会中断，也不保证服务的及时性、安全性、准确性。</p>
		<p style="font-weight:bold;font-size:.26rem;">五、服务变更、中断或终止</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>5.1 如因升级的需要而需暂停网络服务、或调整服务内容，金融公司将尽可能在本APP上进行通告。由于用户未能及时浏览通告而造成的损失，金融公司不承担任何责任。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>5.2 您明确同意，金融公司有权根据实际情况随时调整本APP提供的服务内容、种类和形式，或自行决定授权第三方向您提供原本金融公司提供的服务。因业务调整给您或其他用户造成的损失，金融公司不承担任何责任。同时，金融公司保留随时变更、中断或终止服务全部或部分服务的权利。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>5.3 发生下列任何一种情形，金融公司有权单方面中断或终止向您提供服务而无需通知您，且无需对您或第三方承担任何责任：</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>5.3.1 您提供的个人资料不真实；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>5.3.2 您违反本服务条款及其他APP内规定；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>5.3.3 未经金融公司书面同意，将本APP用于商业及其他任何经济目的。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>5.4 您可以随时通知金融公司终止向您提供服务或直接取消服务。自您终止或取消服务之日起，金融公司不再向您承担任何形式的责任。</p>
		<p style="font-weight:bold;font-size:.26rem;">六、知识产权及其它权利</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.1 用户可以充分利用本APP共享信息（如适用）。您可以在本APP上发布从本APP个人主页或其他APP复制的图片和信息等内容，但这些内容必须属于公共领域或者您拥有以上述使用方式使用该等内容的权利，且您有权对该等内容做出本条款下之授权、同意、认可或承诺。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.2 对您在本APP上发布或以其它方式传播的内容，您作如下声明和保证：</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.2.1 对于该等内容，您有所有权或使用权；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.2.2 该等内容是合法的、真实的、准确的、非误导性的；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.2.3 使用和发布此等内容或以其它方式传播此等内容不违反本服务条款，也不侵犯任何人或实体的任何权利或造成对任何人或实体的伤害。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.3 未经相关内容权利人的事先书面同意，您不得擅自复制、传播在本APP上的该等内容，或将其用于任何商业目的，所有这些资料或资料的任何部分仅可作为个人或非商业用途而保存在某台计算机内。否则，金融公司及/或权利人将追究您的法律责任。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.4 您在本APP上发布或传播的自有内容或有使用权的内容，您特此同意如下：</p>
		
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.4.1 授予金融公司使用、复制、修改、改编、翻译、传播、发表此等内容，从此等内容创建派生作品，以及在全世界范围内通过任何媒介（现在已知的或今后发明的）公开展示和表演此等内容的权利；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.4.2 授予本APP及其关联方和被许可人一项权利，可依他们的选择而使用用户有关此等内容而提交的名称；</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.4.3 授予金融公司在第三方侵犯您在本APP上的权益、或您发布在本APP上的内容情况下，依法追究其责任的权利（但这并非金融公司的义务）。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.4.4同意金融公司收集身份信息，包括姓名、身份证号、照片等为验证服务所需要的相关信息，并将相关信息提供给北京旷视科技有限公司，用于身份验证服务，包括向金融公司返回验证结果。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.4.5同意北京旷视科技有限公司为您在北京旷视科技有限公司平台上设立您的MYFACEID账户，保存与记录北京旷视科技有限公司获取的身份信息验证记录。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.4.6同意北京旷视科技有限公司获取、收集与保存您的身份信息，并同意北京旷视科技有限公司使用您的身份信息用于与您相关的身份验证业务。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.5 您在本APP上公开发布或传播的内容、图片等为非保密信息，金融公司没有义务将此等信息作为您的保密信息对待。在不限制前述规定的前提下，金融公司保留以适当的方式使用内容的权利，包括但不限于删除、编辑、更改、不予采纳或拒绝发布。金融公司无义务就您提交的内容而向您付款。一旦内容已在本APP上发布，金融公司也不保证向您提供对在本APP上发布内容进行编辑、删除或作其它修改的机会。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.6 如有权利人发现您在本APP上发表的内容侵犯其权利，并依相关法律、行政法规的规定向金融公司发出书面通知的，金融公司有权在不事先通知您的情况下自行移除相关内容，并依法保留相关数据。您同意不因该种移除行为向金融公司主张任何赔偿，如金融公司因此遭受任何损失，您应赔偿金融公司的损失（包括但不限于赔偿各种费用及律师费）。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.7 若您认为您发布第6.6条指向内容并未侵犯其他方的权利，您可以向金融公司以书面方式说明被移除内容不侵犯其他方权利的书面通知，该书面通知应包含如下内容：您详细的身份证明、住址、联系方式、您认为被移除内容不侵犯其他方权利的证明、被移除内容在本APP上的位置以及书面通知内容的真实性声明。金融公司收到该书面通知后，有权决定是否恢复被移除内容。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.8 您特此同意，如果6.7条中的书面通知的陈述失实，您将承担由此造成的全部法律责任，如金融公司因此遭受任何损失，您应赔偿金融公司的损失（包括但不限于赔偿各种费用及律师费）。 </p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>6.9 金融公司是本APP的知识产权权利人，受中华人民共和国法律保护。非经金融公司书面允许，您不得为任何商业目的或非商业目的的自行或许可任何第三方实施、利用和转让本APP的知识产权。</p>
		
		<p style="font-weight:bold;font-size:.26rem;">七、特别约定</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>7.1 您使用本服务的行为若有任何违反国家法律法规或侵犯任何第三方的合法权益的情形时，金融公司有权直接删除该等违反规定之信息，并可以暂停或终止向您提供服务。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>7.2 您使用本APP即表示您接受并同意受服务条款的约束。金融公司有权在必要时修改本条款。您可以在最新版本中阅读并浏览服务条款。本APP的服务条款变更后，您继续使用本APP即视为您接受并同意修改后的服务条款。如果您不接受，请您立即停用本APP。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>7.3 若您利用服务从事任何违法或侵权行为，由您自行承担全部责任，因此给金融公司或任何第三方造成任何损失，您应负责全部赔偿责任，并使金融公司免受由此产生的任何损害。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>7.4 您同意金融公司通过重要页面的公告、通告、电子邮件以及常规信件的形式向您传送与服务有关的任何通知和通告。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>7.5 本服务条款的签订地为中华人民共和国北京市朝阳区。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>7.6 上述条款将适用中华人民共和国的法律，所有的争端将诉诸于金融公司所在地的人民法院。</p>
		<p style="font-size:.26rem;"><span style="color:#fff;">前言</span>7.7 本服务条款中的标题仅为方便而设，不影响对于条款本身的解释。</p>
		
	</div>
	<script type="text/javascript" src="../../js/common/mui.min.js"></script>
	<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js" ></script>
	<script type="text/javascript" src="../../js/common/common.js"></script>
	<script type="text/javascript" src="../../js/core/support.js" ></script>
	<script type="text/javascript" src="../../js/core/sea.js"></script>
</body>
</html> 