<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>上传放款资料</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/mui.picker.min.css">
		<script type="text/javascript" src="../../js/common/standdardSize.js"></script>
		<link rel="stylesheet" href="../../css/iconfont/iconfont.css"></link>
		<link rel="stylesheet" href="../../css/controller/preStyle.css">
		<style>
			.content .df-list .df-list-item .item-input[disabled]{
		      	opacity: 1;
		      	color:#999;
	      	}
		</style>
	</head>
	<body>
		<header>
			<span id="back" class="iconSymbol icon__back mui-action-back"></span>
			<span class="title" id="title">上传放款资料</span>
		</header>
		<div class="content">
			<div class="df-list">
				<div class="df-list-item">
					<span class="item-title">申请单号</span>
					<input id="appNo" class="item-input" type="text" readonly="readonly" disabled="disabled">
				</div>
				<div class="df-list-item">
					<span class="item-title">剩余额度</span>
					<input id="contractNo" class="item-input" type="text" readonly="readonly" disabled="disabled">
					<span class="iconSymbol icon-go">元</span>
				</div>
				<div class="df-list-item">
					<span class="item-title">姓名</span>
					<input id="custName" class="item-input" type="text" readonly="readonly" disabled="disabled">
				</div>
				<div class="df-list-item">
					<span class="item-title">资料范围</span>
					<input id="ziliaofanwei" class="item-input" type="text" placeholder="请选择资料范围" readonly="readonly" disabled="disabled">
				</div>
				<div class="df-list-item">
					<span class="item-title">放款类型</span>
					<input id="fdloanTyp" class="item-input" type="text" placeholder="请选择放款类型" readonly="readonly" disabled="disabled">
					<!--<span class="iconSymbol icon__go icon-go"></span>-->
				</div>
			</div>
		</div>
		<div class="footer">
			<span id="next">下一步</span>   
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.picker.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.poppicker.js"></script>
		<script type="text/javascript" src="../../js/core/commonData.js"></script>
		<script type="text/javascript" src="../../js/core/sea.js"></script>
		<script src="../../js/common/vconsole.min.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controller/"
			});
			seajs.use('details/loanData');
		</script>
	</body>
</html>

