@charset "utf-8";
.list{padding:.2rem .3rem .2rem .1rem;}
li{font-size:.26rem;color:#666;margin-bottom:.2rem;background: #fff;border-radius: 13px;box-shadow: 0 0 .2rem 0 rgba(216,216,216,.85);}
li > p{position:relative;display: flex;align-items: center;height: .8rem;line-height: .8rem;padding:0 .2rem 0 .3rem;color:#4c4c4c;}
li > p:after{position:absolute;left:-.3rem;bottom:0;right:-.2rem;content:'';height:1px;background: #e6e6e6;-webkit-transform: scaleY(.5);transform: scaleY(.5);}
li > div{padding:.1rem .2rem .2rem .3rem;}
li div.checked{background: #eee;}
li > div p{padding:.1rem 0;}
li > div div p:first-child{width:45%;}
li > div div p:last-child{width:55%;}
li > div p span{margin-right:.1rem;}
li input[type="checkbox"]{display: none;}
li label{position:relative;display:inline-block;width:13px;height:13px;margin-right:.1rem;border:1px solid #8C8C8C;border-radius:50%;}
li label:after,
li label:before{position:absolute;z-index:100;content:''; display: inline-block;width:1px;}
li label:before{left:2px;top:4px;height:4px;transform: rotate(-45deg);}
li label:after{left:6px;top:1px;height:8px;transform: rotate(45deg);}
li input:checked+label{border-color:#64A5D2;background: #64A5D2;}
li input:checked+label:before,
li input:checked+label:after{background: #fff;}
li b{margin-left:.05rem;font-size:.32rem;color:#D2002E;}
li > p b{display: none;}
li a{color:#4C4C4C;}
li a small{font-size:.26rem;color:#D2002E;}