<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">   
		<title>预审补录贷款信息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<script type="text/javascript" src="../../js/common/standdardSize.js"></script>
		<script type="text/javascript" src="../../js/common/zepto.min.js"></script>
		<link rel="stylesheet" href="../../css/resize.css">
		<link rel="stylesheet" href="../../css/iconfont/iconfont.css"></link>
		<link rel="stylesheet" href="../../css/controller/application.css">	
		<link rel="stylesheet" href="../../css/weui.css">
		<style>
			.content .df-list .df-list-item .item-input[disabled]{
      			opacity:1;
      			color:#999;
      		}
		</style>
	</head>
	<body>
		<header>
			<span class="iconSymbol icon__back" id="back"></span>
			<span class="title">车辆及贷款信息</span>
		</header>
		<div class="mui-content content">
			<h4>车辆信息</h4>
			<div class="df-list">
				<div class="df-list-item">
					<span class="item-title must-input">车辆类型</span>
					<input id="carTypeInput" class="item-input" type="text" placeholder="请选择类型" readonly="readonly">
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item" style="display: none;">
					<span class="item-title must-input">车架号</span>
					<input id="frameNoInput" class="item-input" type="text" placeholder="请输入车架号" maxlength="20" style="width:4.09rem;">
					<i id="frameNoInputSearch" class="iconSymbol icon__search input_search"></i>
				</div>
				<div class="df-list-item"> 
					<span class="item-title must-input">品牌</span>
					<p id="brandInput" class="item-p item-p-after2"></p>
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item" style="display: none;">
					<span class="item-title must-input">子品牌</span> 
					<input id="subBrandInput" class="item-input" type="text" placeholder="请选择子品牌" readonly="readonly">
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item">
					<span class="item-title must-input">车系</span> 
					<input id="carLineInput" class="item-input" type="text" placeholder="请选择车系" readonly="readonly">
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item">
					<span class="item-title must-input">年型</span>
					<input id="yearTypeInput" class="item-input" type="text" placeholder="请选择年型" readonly="readonly">
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item">
					<span class="item-title must-input">车型</span>
					<p id="carModelInput" class="item-p item-p-after"></p>
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item">
					<span class="item-title">指导价</span>
					<input id="guidPriceInput" class="item-input disabled" type="text" disabled="disabled">
					<span class="icon-go">元</span>
				</div>
				<div class="df-list-item">      
					<span class="item-title must-input">裸车价格</span>
					<input id="carPriceInput" class="item-input" type="text" placeholder="请输入裸车价格">
					<span class="icon-go">元</span>
				</div>
				<div class="df-list-item" style="display: none">
					<span class="item-title must-input">客户来源</span>
					<input id="customerSourceInput" class="item-input" type="text" placeholder="请选择客户来源" readonly="readonly">
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item" style="display: none">
					<span class="item-title must-input">车长</span>
					<input id="carLengthInput" class="item-input" type="text" placeholder="请输入车长" >
					<span class="icon-go">毫米</span>
				</div>
				<div class="df-list-item" style="display: none">
					<span class="item-title must-input">总质量</span>
					<input id="carTotalInput" class="item-input" type="text" placeholder="请输入车总质量">
					<span class="icon-go">公斤</span>
				</div>
				<div class="df-list-item" style="display: none">
		    		<span class="item-title">动力类型</span>
		    		<input id="powerTypeInput" type="text" class="item-input disabled" disabled="disabled">
		    	</div>
		    	<div class="df-list-item" style="display: none">
					<span class="item-title must-input">首次登记日期</span>
					<input id="firstDateInput" type="text" readonly="readonly" placeholder="请选择" class="item-input">
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item" style="display: none;">
					<span class="item-title must-input">行驶里程</span>
					<input id="mileageInput" class="item-input" type="text" placeholder="请输入行驶里程">
					<span class="icon-go">公里</span>
				</div>
				<div class="df-list-item" style="display: none;">
					<span class="item-title">使用性质</span> 
					<input id="useNature" class="item-input" type="text" placeholder="请选择使用性质" readonly="readonly">
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item" style="display: none;">
					<span class="item-title">是否电动车</span>
					<p class="item-p" id="isOrNotElc">
						<span class="yes">是</span>
						<span class="no selected">否</span>
					</p>
				</div>
				<div class="df-list-item" style="display: none;">
					<span class="item-title">是否豪华车</span>
					<p class="item-p" id="isOrNotLuy">
						<span class="yes">是</span>
						<span class="no selected">否</span>
					</p>
				</div> 
				<div class="df-list-item" style="display: none;">
					<span class="item-title">二手车评估价</span>
					<input id="assessPrice" class="item-input" type="text" placeholder="二手车评估价" readonly="readonly">
					<span class="assessPriceBtn">评估</span>
				</div>
				<div class="df-list-item" style="display: none;">
					<span class="item-title must-input">购买城市</span>
					<input id="buyCityInput" class="item-input" type="text" placeholder="请选择" readonly="readonly">
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item"> 
					<span class="item-title must-input">上牌城市</span>
					<input id="licCityInput" class="item-input" type="text" placeholder="请选择" readonly="readonly">
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
			</div> 
			<h4>贷款信息</h4>
			<div class="df-list">
				<div class="df-list-item">
					<span class="item-title must-input">产品线</span>
					<input id="productLineInput" class="item-input" type="text" placeholder="请选择产品线" readonly="readonly">
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item">
					<span class="item-title must-input">贷款产品</span>
					<input id="loanProductsInput" class="item-input" type="text" placeholder="请选择贷款产品" readonly="readonly">
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item" style="display: none;">
					<span class="item-title">尾款比例</span>
					<input id="wkbl" class="item-input" type="text">
					<span class="icon-go">%</span>
				</div>
				<div class="df-list-item" style="display: none;">
					<span class="item-title">忠诚客户</span>
					<p class="item-p" id="isOrNotLoyal">
						<span class="yes">是</span>
						<span class="no selected">否</span>
					</p>   
				</div>
				<div class="df-list-item" style="display: none;">
					<span class="item-title">是否增融</span>
					<p class="item-p" id="isOrNotZr">
						<span class="yes">是</span>
						<span class="no selected">否</span>
					</p>
				</div>
				<div class="df-list-item" style="display: none;">
					<span class="item-title">增融类型</span>
					<p class="item-p" id="zrType">
						<span class="selected"></span>
					</p>
				</div>
				<!-- 随车贷列表-->
				<div class="follow-list" >
					<div class="df-list-item">
						<span class="item-title">购置税</span>
						<input id="purchaseInput" class="item-input" type="text" placeholder="如有请填写">
						<span class="icon-go">元</span>
					</div>
					<div class="df-list-item">
						<span class="item-title">保险</span>
						<input id="insuranceInput" class="item-input" type="text" placeholder="如有请填写">
						<span class="icon-go">元</span>
					</div>
					<div class="df-list-item">
						<span class="item-title">GPS</span>
						<input id="GPSInput" class="item-input" type="text" placeholder="如有请填写">
						<span class="icon-go">元</span>
					</div>
					<div class="df-list-item">
						<span class="item-title">装饰</span>
						<input id="decorateInput" class="item-input" type="text" placeholder="如有请填写">
						<span class="icon-go">元</span>
					</div>
					<div class="df-list-item">
						<span class="item-title">其他指定服务</span>
						<input id="otherSerInput" class="item-input" type="text" placeholder="如有请填写">
						<span class="icon-go">元</span>
					</div>
				</div>
				<div class="df-list-item" id="total1">
					<span class="item-title">车辆总价</span>
					<input id="carPrice2Input" class="item-input" type="text" readonly="readonly">
					<span class="icon-go">元</span>                 
				</div>
				<div class="df-list-item">
					<span class="item-title must-input">计算方式</span> 
					<input id="calMethod" class="item-input" type="text" placeholder="请选择计算方式" readonly="readonly"/>
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item"> 
					<span class="item-title must-input">首付比例</span>
					<input id="downPayRatioInput" class="item-input" type="text" disabled>
					<span class="icon-go">%</span>  
				</div>
				<div class="df-list-item">
					<span class="item-title">首付金额</span>
					<input id="downPaymoneyInput" class="item-input" type="text" readonly="readonly">
					<span class="icon-go">元</span>
				</div>  
				<div class="df-list-item">
					<span class="item-title must-input">贷款金额</span>
					<input id="loanMoneyInput" class="item-input" type="text" disabled>
					<span class="icon-go">元</span>
				</div>
				<div class="df-list-item">
					<span class="item-title">执行利率（年）</span>
					<input id="rateInput" class="item-input" type="text" readonly="readonly">
					<span class="icon-go">%</span>
				</div>
				<div class="df-list-item">
					<span class="item-title">申请期限</span>
					<input id="applytermInput" class="item-input" type="text" readonly="readonly">
					<span class="icon-go">期</span>
				</div>
				<div class="df-list-item">
					<span class="item-title">还款方式</span>
					<input id="paymentMethodInput" class="item-input" type="text" readonly="readonly">
				</div>
				<div class="df-list-item">
					<span class="item-title">还款日类型</span> 
					<input id="reypayDay" class="item-input" type="text" value="放款日对日" readonly="readonly"/>
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item" style="display: none;">
					<span class="item-title">还款日</span> 
					<input id="reypayDayDetail" class="item-input" type="text" placeholder="请选择" readonly="readonly"/>
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item">
					<span class="item-title">是否免抵押</span>
					<p class="item-p" id="isOrNotUnmor">
						<span class="yes">是</span>
						<span class="no selected">否</span>
					</p>
				</div>
				<div class="df-list-item" style="display:none;">
					<span class="item-title">是否免担保</span>
					<p class="item-p" id="isOrNotAssure">
						<span class="yes">是</span>
						<span class="no selected">否</span>
					</p>
				</div>
				<div class="df-list-item" style="display:none;">
					<span class="item-title">免抵押客户类型</span> 
					<input id="cusQuaInput" class="item-input" type="text" placeholder="请选择" readonly="readonly"/>
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
				<div class="df-list-item">
					<span class="item-title must-input">费用及保险超市</span> 
					<input id="marketInput" class="item-input" type="text" placeholder="请选择" readonly="readonly"/>
					<span class="iconSymbol icon__go icon-go"></span>
				</div>
			</div>
			<div class="ince-list" style="display: none;" id="inceList">
				<h4>贷款增融服务</h4>
				<div class="df-list">
					<div class="df-list-item">
						<span class="item-title">购置税</span>
						<input data-num="01" id="purchase2Input" class="item-input" type="text" readonly="readonly" placeholder="请选择">
						<span class="iconSymbol icon__go icon-go"></span>
					</div>
					<div class="df-list-item">
						<span class="item-title">保险</span>
						<input data-num="02" id="insurance2Input" class="item-input" type="text" readonly="readonly" placeholder="请选择">
						<span class="iconSymbol icon__go icon-go"></span>
					</div>
					<div class="df-list-item">
						<span class="item-title">其他服务</span>
						<input data-num="99" id="otherSer2Input" class="item-input" type="text" readonly="readonly" placeholder="请选择">
						<span class="iconSymbol icon__go icon-go"></span>
					</div>
				</div>
			</div>
			<div class="ince2-list" style="display: none;">
				<h4>贷款汇总信息</h4>
				<div class="df-list">
					<div class="df-list-item">
						<span class="item-title">购车总价</span>
						<input id="carPrice3Input" class="item-input" type="text" readonly="readonly">
						<span class="icon-go">元</span>
					</div>
					<div class="df-list-item">
						<span class="item-title">贷款总金额</span>
						<input id="loanMoney3Input" class="item-input" type="text" readonly="readonly">
						<span class="icon-go">元</span>
					</div>
					<div class="df-list-item">
						<span class="item-title">总首付比例</span>
						<input id="downPaymoney3Input" class="item-input" type="text" readonly="readonly">
						<span class="icon-go">元</span>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<span id="save">保存</span>
			<span id="next">下一步</span>   
		</div>
		<div class="waiting-box" id="waitingBox" style="display: none;">
			<div class="loading-bdg"></div>
			<img class="loading-gif" src="../../images/loadingGIF.gif"></img>
			<div class="loading-tips">正在加载中~</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/jweixin-1.0.0.js"></script>
		<script type="text/javascript" src="../../js/common/weui.min.js"></script>
		<script type="text/javascript" src="../../js/core/commonData.js"></script>
		<script type="text/javascript" src="../../js/core/cityData.min.js"></script>
		<script type="text/javascript" src="../../js/core/jquery.mytips.js"></script>
		<script type="text/javascript" src="../../js/core/resize.js"></script>
		<script type="text/javascript" src="../../js/core/sea.js"></script>
		<script src="../../js/common/vconsole.min.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controller/"
			});
			seajs.use('Application/loanInfo');
		</script>
	</body>
</html>